<footer>
    <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card">
                        <h2 class="card-title text-center"> <a href="http://opensnippets.com">We'll let you know when
								it's out!</a></h2>
                        <div class="card-body py-md-4">
                            <form accept-charset="UTF-8" action="https://getform.io/f/6d628223-24da-495f-aa38-d7bf43ef6251" method="post" enctype="multipart/form-data" target="_blank">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" required="required">Email address</label> <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName">Name</label> <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Enter your name" required="required">
                                </div>
                                <hr>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if site.your_name %}
    <p class="footerText">Made by {% if site.your_link %}<a href="{{ site.your_link }}">{% endif %}{{ site.your_name
			}}{% if site.your_link %}</a>{% endif %}{% if site.your_city %} in {{ site.your_city }}{% endif %}</p>
    {% endif %}
    <div class="footerIcons">

        {% if site.facebook_username %}
        <a href="https://facebook.com/{{ site.facebook_username }}">
            <span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
			</span>
        </a>
        {% endif %} {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
			</span>
        </a>
        {% endif %} {% if site.instagram_username %}
        <a href="https://instagram.com/{{ site.instagram_username }}">
            <span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-instagram fa-stack-1x"></i>
			</span>
        </a>
        {% endif %} {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
            <span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-github fa-stack-1x"></i>
			</span>
        </a>
        {% endif %} {% if site.email_address %}
        <a href="mailto:{{ site.email_address }}">
            <span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
			</span>
        </a>
        {% endif %}

    </div>
    <div class="footerLinks">
        {% for page in site.pages %}
        <a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a> {% endfor %} {% if site.presskit_download_link %}
        <a href="{{ site.presskit_download_link }}">Press Kit</a> {% endif %}
    </div>
</footer>