<div class="col-md-6 offset-md-3 mt-5">
    <br>
    <H1>Want to hear about it when it's released? sign up below! I pinky promise to never send spam</H1>
    <form accept-charset="UTF-8" action="https://getform.io/f/6d628223-24da-495f-aa38-d7bf43ef6251" method="POST" enctype="multipart/form-data" target="_blank">
        <div class="form-group">
            <label for="exampleInputName">Full Name</label>
            <input type="text" name="fullname" class="form-control" id="exampleInputName" placeholder="Enter your name and surname" required="required">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>